<div class="text">
  <ol>
    <li>List Item</li>
    <li>List Item</li>
    <li>
      List Item
      <ol>
        <li>Nested List Item</li>
        <li>Nested List Item</li>
      </ol>
    </li>
    <li>List Item</li>
  </ol>
</div>