<nav>
  <ul class="pager">
    {{# pagerList }}
      <li {{# pagerClass }} class="{{ pagerClass }}" {{/ pagerClass }}><a href="{{ url }}">{{ text }}</a></li>
      {{/ pagerList }}
  </ul>
</nav>