<div class="input-group">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default">Call To Action</button>

  </span>
  <input type="text" class="form-control" placeholder="Placeholder Text" aria-describedby="basic-addon1">





</div><!-- /input-group -->