<div class="btn-group dropup">
  <button type="button" class="btn btn-default">Call To Action</button>

  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li><a href="#">Link 4</a></li>
  </ul>
</div><!-- /btn-group -->