<div class="btn-group dropup">
  {{> atoms-button }}
  <button type="button" class="btn {{ buttonClass }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{# caret }}<span class="{{ caret }}"></span>{{/ caret }}
  </button>
  <ul class="dropdown-menu">
    {{# dropdownList }}
      <li {{# separator }} role="separator" {{/ separator }} {{# listItemClass }} class="{{ listItemClass }}" {{/ listItemClass }}><a href="{{ url }}">{{ text }}</a></li>
      {{/ dropdownList }}
  </ul>
</div><!-- /btn-group -->