<ul class="list-group {{ listGroupClass }}">
  {{# listGroup }}
    <li class="list-group-item">{{{ text }}}
      {{# badge }}{{> atoms-badges }}{{/ badge }}
    </li>
    {{/ listGroup }}
</ul>