<div class="{{ dropdownClass}} clearfix">
  <button class="btn {{ buttonClass }} dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    {{# caret }}<span class="{{ caret }}"></span>{{/ caret }}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {{# dropdownList }}
      <li {{# separator }} role="separator" {{/ separator }} {{# listItemClass }} class="{{ listItemClass }}" {{/ listItemClass }}><a href="{{ url }}">{{ text }}</a></li>
      {{/ dropdownList }}
  </ul>
</div>