<div class="jumbotron">
  <h1>Page Header</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Call To Action</a></p>
</div>