<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Placeholder Text">
  </div>
  <button type="button" class="btn btn-default">Call To Action</button>

</form>