<div class="text">
  <ul>
    <li>{{ listItem }}</li>
    <li>{{ listItem }}</li>
    <li>
      {{ listItem }}
      <ul>
        <li>{{ listItemNested }}</li>
        <li>{{ listItemNested }}</li>
      </ul>
    </li>
    <li>{{ listItem }}</li>
  </ul>
</div>