<div class="text">
  <ul>
    <li>List Item</li>
    <li>List Item</li>
    <li>
      List Item
      <ul>
        <li>Nested List Item</li>
        <li>Nested List Item</li>
      </ul>
    </li>
    <li>List Item</li>
  </ul>
</div>