<div class="media">
  <div class="media-left ">
    <a href="#">
      <img class="media-object" src="..&#x2F;..&#x2F;images&#x2F;bootstrapthumb64.jpg" alt="Bootstrap Thumbnail">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Page Header</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>