<div class="input-group {{ inputClass }}">
  {{# inputAddonBefore }}
    <span class="input-group-addon">{{ inputAddonBefore }}</span>
    {{/ inputAddonBefore }}
    {{> atoms-input }}
    {{# inputAddonAfter }}
      <span class="input-group-addon">{{ inputAddonAfter }}</span>
      {{/ inputAddonAfter }}
</div>