<div class="input-group">
  <input type="text" class="form-control" placeholder="Placeholder Text" aria-describedby="basic-addon1">





  <div class="input-group-btn">
    <button type="button" class="btn btn-default">Call To Action</button>

    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Call To Action</span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li><a href="#">Link 4</a></li>
    </ul>
  </div>
</div><!-- /.input-group -->