<nav class="navbar {{ navbarClass }}">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- d -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url }}">{{ navbarBrandText }}</a>
    </div> <!-- a -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- d -->
      {{# navbarNavFirst }}
        {{> molecules-navbar-nav }}
        {{/ navbarNavFirst }}
        {{> molecules-navbar-form }}
        {{# navbarNavLast }}
          {{> molecules-navbar-nav }}
          {{/ navbarNavLast }}
    </div><!-- /.navbar-collapse c -->
  </div><!-- /.container-fluid b -->
</nav>