<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="..&#x2F;..&#x2F;images&#x2F;bootstrapthumb64.jpg" alt="Bootstrap Thumbnail">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Page Header</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="..&#x2F;..&#x2F;images&#x2F;bootstrapthumb64.jpg" alt="Bootstrap Thumbnail">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Nested media heading</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
  </div>
</div>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">Page Header</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <div class="media-right">
    <a href="#">
      <img class="media-object" src="..&#x2F;..&#x2F;images&#x2F;bootstrapthumb64.jpg" alt="Bootstrap Thumbnail">
    </a>
  </div>
</div>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="..&#x2F;..&#x2F;images&#x2F;bootstrapthumb64.jpg" alt="Bootstrap Thumbnail">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Page Header</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <div class="media-right">
    <a href="#">
      <img class="media-object" src="..&#x2F;..&#x2F;images&#x2F;bootstrapthumb64.jpg" alt="Bootstrap Thumbnail">
    </a>
  </div>
</div>
<!-- Media Alignment -->
<p>The classes <code>.pull-left</code> and <code>.pull-right</code> also exist and were previously used as part of the media component, but are deprecated for that use as of v3.3.0. They are approximately equivalent to <code>.media-left</code> and <code>.media-right</code>, except that <code>.media-right</code> should be placed after the <code>.media-body</code> in the html.</p>
<h2 id="media-alignment">Media alignment</h2>
<p>The images or other media can be aligned top, middle, or bottom. The default is top aligned.</p>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="..&#x2F;..&#x2F;images&#x2F;bootstrapthumb64.jpg" alt="Bootstrap Thumbnail">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Top aligned media</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>
</div>
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..&#x2F;..&#x2F;images&#x2F;bootstrapthumb64.jpg" alt="Bootstrap Thumbnail">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Middle aligned media</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<div class="media">
  <div class="media-left media-bottom">
    <a href="#">
      <img class="media-object" src="..&#x2F;..&#x2F;images&#x2F;bootstrapthumb64.jpg" alt="Bootstrap Thumbnail">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Bottom aligned media</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>