<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{  mediaImage }}" alt="{{ alt }}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ heading }}</h4>
    {{ text }}
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="{{ mediaImage }}" alt="{{ alt }}">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Nested media heading</h4>
        {{ text }}
      </div>
    </div>
  </div>
</div>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">{{ heading }}</h4>
    {{ text }}
  </div>
  <div class="media-right">
    <a href="#">
      <img class="media-object" src="{{ mediaImage }}" alt="{{ alt }}">
    </a>
  </div>
</div>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{ mediaImage }}" alt="{{ alt }}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ heading }}</h4>
    {{ text }}
  </div>
  <div class="media-right">
    <a href="#">
      <img class="media-object" src="{{ mediaImage }}" alt="{{ alt }}">
    </a>
  </div>
</div>
<!-- Media Alignment -->
<p>The classes <code>.pull-left</code> and <code>.pull-right</code> also exist and were previously used as part of the media component, but are deprecated for that use as of v3.3.0. They are approximately equivalent to <code>.media-left</code> and <code>.media-right</code>, except that <code>.media-right</code> should be placed after the <code>.media-body</code> in the html.</p>
<h2 id="media-alignment">Media alignment</h2>
<p>The images or other media can be aligned top, middle, or bottom. The default is top aligned.</p>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{ mediaImage }}" alt="{{ alt }}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Top aligned media</h4>
    <p>{{ text }}</p>
    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>
</div>
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="{{ mediaImage }}" alt="{{ alt }}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Middle aligned media</h4>
    <p>{{ text }}</p>
    <p>{{ text }}</p>
  </div>
</div>
<div class="media">
  <div class="media-left media-bottom">
    <a href="#">
      <img class="media-object" src="{{ mediaImage }}" alt="{{ alt }}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Bottom aligned media</h4>
    <p>{{ text }}</p>
    <p>{{ text }}</p>
  </div>
</div>