<div class="input-group">
  <div class="input-group-btn">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Call To Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="#">Action</a>
        </li>
        <li class="dropdown-item"><a href="#">Another action</a>
        </li>
        <li class="dropdown-item"><a href="#">Something else here</a>
        </li>
        <li class="dropdown-item"><a href="#">Link 4</a>
        </li>
      </ul>
    </div>

  </div><!-- /btn-group -->
  <input type="text" class="form-control" placeholder="Placeholder Text" aria-describedby="basic-addon1">





</div><!-- /input-group -->