<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="&#x2F;&#x2F;www.youtube.com&#x2F;embed&#x2F;zpOULjyy-n8?rel&#x3D;0" allowfullscreen></iframe>
</div>