<table class="table">
  <thead>
    <tr>
      <th>Table Heading 1</th>
      <th>Table Heading 2</th>
      <th>Table Heading 3</th>
      <th>Table Heading 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>row 1 cell 1</td>
      <td>row 1 cell 2</td>
      <td>row 1 cell 3</td>
      <td>row 1 cell 4</td>
    </tr>
  </tbody>
</table>