{{# table }}
  <table class="table">
    {{# thead }}
      <thead>
        <tr>
          {{# th }}
            <th>{{ title }}</th>
            {{/ th }}
        </tr>
      </thead>
      {{/ thead }}
      {{# tbody }}
        <tbody>
          {{# tr }}
            <tr>
              {{# td }}
                <td>{{ text }}</td>
                {{/ td }}
            </tr>
            {{/ tr}}
        </tbody>
        {{/ tbody }}
  </table>
  {{/ table }}