<div class="input-group">
  <span class="input-group-addon">
    <input type="checkbox" aria-label="Aria label">
  </span>
  <input type="text" class="form-control" placeholder="Placeholder Text" aria-describedby="basic-addon1">





</div><!-- /input-group -->