<h1>{{ heading }} <span class="label label-default">{{ label }}</span></h1>
<h2>{{ heading }} <span class="label label-default">{{ label }}</span></h2>
<h3>{{ heading }} <span class="label label-default">{{ label }}</span></h3>
<h4>{{ heading }} <span class="label label-default">{{ label }}</span></h4>
<h5>{{ heading }} <span class="label label-default">{{ label }}</span></h5>
<h6>{{ heading }} <span class="label label-default">{{ label }}</span></h6>

<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>