<h1>Page Header <span class="label label-default">New Label</span></h1>
<h2>Page Header <span class="label label-default">New Label</span></h2>
<h3>Page Header <span class="label label-default">New Label</span></h3>
<h4>Page Header <span class="label label-default">New Label</span></h4>
<h5>Page Header <span class="label label-default">New Label</span></h5>
<h6>Page Header <span class="label label-default">New Label</span></h6>

<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>