<div class="btn-group " role="group" aria-label="Aria label">
  <button type="button" class="btn btn-default">Call To Action</button>

  <button type="button" class="btn btn-default">Call To Action</button>

  <button type="button" class="btn btn-default">Call To Action</button>

</div>